

    /* .main--header {
        display: flex;
        padding: 0;
        height: 219px;
        z-index: 10;
        width: 100%;
        margin: 0;
        background-color: white;
        

    } */

.Areas {
    /* display: flex; */
    padding-left: 10px;
    width: 66vw;
    background-color: white;  
    border-radius: 5px;
    margin-bottom: 30px;
}

.areasForEach {
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 20px 0px #e3e2e2;
    border-radius: 5px; 
}

.guests {
	font-family: "Raleway", Arial, sans-serif;
    flex-basis: 24%;
    padding-left: 10px;
    background-color: white;
    border-radius: 5px  

}

.guest-list {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 16px;
    color: rgb(42, 117, 92);
}


